#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em 20em;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    padding: 1em;


    .back {
        padding: 3em;
        text-align: center;
        background-color: rgb(141, 141, 141);
        border-radius: 10px;
        // background-image: url(/Assets/Images/TheGlobalGoals_Icons_Color_Goal_5.svg);
    }

    .back:hover {
        cursor: pointer;
    }
}