#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3em;
    margin: 2em 20em;

    .back {
        background-image: url(/Assets/Images/globe-eurafrica.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 3.5em;
        text-align: center;      
    }
    
    div:hover {
            background-color: red;
        }

}